<div>
    <div *ngIf='animalForm; else loadingBlock'>
        <form [formGroup]='animalForm' (ngSubmit)="onSubmit(animalForm.value)">
            <mat-form-field appearance="fill">
                <mat-label for='name'>Name</mat-label>
                <input matInput placeholder="Ex: Simba" [readonly]="!canEdit" id='name' type='text' formControlName='name'>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label for='specie'>Specie</mat-label>
                <input matInput placeholder="Ex: Lion" [readonly]="!canEdit" id='specie' type='text' formControlName='specie'>
            </mat-form-field>
            <div>
                <button *ngIf="canEdit" mat-raised-button color="primary" [disabled]="!isBtnEnabled()" type='submit'>Send</button>
            </div>
        </form>
    </div>
    <ng-template #loadingBlock class="loading">
        <mat-spinner></mat-spinner>
    </ng-template>
</div>