<div>
    <div *ngIf='animalForm; else loadingBlock'>
        <fieldset>
            <form [formGroup]='animalForm' (ngSubmit)="onSubmit(animalForm.value)">
                <div>
                    <label for='name'>Name</label>
                    <input [readOnly]="!canEdit" id='name' type='text' formControlName='name'>
                </div>
                <div>
                    <label for='specie'>Specie</label>
                    <input [readOnly]="!canEdit" id='specie' type='text' formControlName='specie'>
                </div>
                <button [hidden]="!canEdit" type='submit'>Send</button>
            </form>
        </fieldset>
    </div>
    <ng-template #loadingBlock>Loading</ng-template>
</div>