table {
    width: 100%;
}

.add-button {
    position: fixed;
    bottom: 0;
    right: 0;
}

.no-data {
    text-align: center;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}