<div>
    <div *[hidden]="!isLoading">
        <h1>LOADING...</h1>
    </div>
    <div class=table *ngIf="animals && !isLoading">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Specie</th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let animal of animals;">
                    <td>{{ animal.id }}</td>
                    <td>{{ animal.name }}</td>
                    <td>{{ animal.specie }}</td>
                    <button>
						<a [routerLink]="['/details', animal.id]">
							Details
						</a>
					</button>
                    <button>
						<a [routerLink]="['/edit', animal.id]">
							Edit
						</a>
					</button>
                    <button (click)="remove(animal)">Delete</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>